@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.rodape {
    background-color: #6278F7;
    background-image: url("/public/imagens/fundo.png");
    padding: 32px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape .redes {
    display: flex;
    gap: 32px;
}

.rodape p {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}