@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.formulario {
    margin: 80px 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.formulario form {
    background-color: #F6F6F6;
    flex: 1;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    padding: 36px 64px;
    border-radius: 20px;
}

h2 {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}